/* 全体の高さを100%に設定 */
html,
body {
    height: 100%;
    background-color: rgb(200, 200, 200);
}

/* ヘッダーのスタイル設定 */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: gray;
    margin-right: 30px;
}

/* ロゴのスタイル設定 */
.logo {
    margin-left: 30px;
    /* ロゴの高さを調整 */
    max-height: 100px; 
     /* ロゴの幅を調整 */
    max-width: 100px; 
}

/* タイトルのスタイル設定 */
.tytle {
    margin-right: 100px;
}

/* コンテナのスタイル設定 */
.container {	
	/* ウィンドウの高さに合わせる */
    height: 100vh; 
}

/* トップとフォームのスタイル設定 */
.top,
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* トップのスタイル設定 */
.top {
	/* コンテナの12%を占める */
    height: 12%; 
    justify-content: end;
    margin-bottom: 2%;
}

/* 見出しのスタイル設定 */
h1 {
    font-size: 25px;
}

/* 入力欄のスタイル設定 */
.formControl {
    outline: 1px solid rgb(0, 0, 0);
    height: 50px;
    justify-content: center;
     /* 最大幅を設定 */
    width: 400px;
    margin-left: 20px;
    padding-left: 10px; 
    background-color: white;
}

.formControl:focus {
    outline: 2px solid #000;
}

/* 3列レイアウトのスタイル設定 */
.threeColumns {
    display: flex;
    align-items: center;
}

/* エラーコンテナのスタイル設定 */
.errContainer {
    display: flex;
    align-items: center;
    color: red;
    text-align: left;
    width: 25em;
    margin-left: 12em;
    height: 30px;
}

/* ラベルのスタイル設定 */
label {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    width: 100px;
    text-align: center;
}

/* 必須項目カラムのスタイル設定 */
.needColumn {
    background-color: red;
    color: white;
    border-radius: 5px;
    width: 50px;
    height: 30px;
    font-size: small;
    font-weight: bold;
    text-align: center;
    padding-top: 5px;
    margin-left: 20px;
}

/* ボタンのスタイル設定 */
#loginBtn {
    width: 210px;
    height: 60px;
    margin-top: 30px;
    color: rgb(0, 0, 0);
    font-size: larger;
    font-weight: bold;
    background-color: rgb(163, 179, 241);
    transition: all 0.3s ease;
}

/* ボタンホバー時のスタイル設定 */
#loginBtn:hover {
    background-color: rgb(0, 185, 255);
    color: white;
}

/* リンクのスタイル設定 */
a {
    margin-top: 40px;
    text-decoration: none;
    color: rgb(0, 128, 192);
    font-size: large;
}
