/* 全体の高さを100%に設定 */
html, body {
    height: 100%;
     /* マージンをリセット */
    margin: 0;
    /* スクロールバーを非表示 */
    overflow: hidden; 
}

/* body要素のスタイル設定 */
body {
    display: flex;
     /* コンテンツを縦方向に配置 */
    flex-direction: column;
}

/* ヘッダーのスタイル設定 */
header {
    display: flex;
    /* 要素間のスペースを均等に配置 */
    justify-content: space-between; 
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: gray;
    margin-right: 30px;
}

/* ロゴのスタイル設定 */
.logo {
    margin-left: 30px;
    /* ロゴの高さを調整 */
    max-height: 100px; 
     /* ロゴの幅を調整 */
    max-width: 100px; 
}

/* タイトルのスタイル設定 */
.tytle {
    margin-right: 100px;
}

/* コンテナのスタイル設定 */
.container {
	 /* コンテナが残りのスペースをいっぱいに使う */
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color:rgb(200, 200, 200);
}

/* サブコンテナのスタイル設定 */
#subContainer {    
    height: 60vh; /* 高さを自動調整 */
    width: 1000px;    
}

/* トップコンテナのスタイル設定 */
.top {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 13%;
    width: 100%;
    margin-bottom: 2%;
}

/* 情報コンテナのスタイル設定 */
#info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 70%;
    width: 100%;
    background-color: white;
    text-align: center;
    /* 行の高さを調整 */
    line-height: 0.8; 
     /* 単語の折り返しを設定 */
    word-wrap: break-word;
}

/* 段落のスタイル設定 */
p {
    margin: 10px;
}

/* コメントのスタイル設定 */
.comment {
    margin: 30px 0 30px 0;
}

/* リンクのスタイル設定 */
a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    text-decoration: none;
    color: rgb(0, 128, 192);
    font-size: large;
}
