<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>TOP画面</title>
	<!-- リセットCSSを読み込む処理を記述 -->
	<link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
	<!-- cssファイルを読み込む処理を記述 -->
	<link rel="stylesheet" href="/topMenu.css">

</head>

<body>
	<header>
		<img src="picture/DLlogo.png" class="logo">
		<h2 class="tytle">JavaTeamDevelopment</h2>
	</header>

	<body>
		<div id ="topContainer">
			<form method="post">
				<div class="parContainer">
					<div class="index">
						<h2>事故紹介登録</h2>
					</div>
					<div class="btn">
						<input type="submit" value="登録に進む" id="regBtn" formaction="#">
					</div>
					</div>
			
				<div class="parContainer">
				<p>新しく自己紹介を作ります。
					<br>あなたをより知ってもらうために、
					<br>趣味や一言を工夫しましょう。
					<br>最高の自己紹介を完成させて、よりあなたを
					<br>知ってもらえるチャンスにしましょう。
				</p>
				</div>
			
				<div class="parContainer">
					<div class="index">
						<h2>自己紹介登録者一覧</h2>
					</div>
					<div class="btn">
						<input type="submit" value="一覧を編集する" id="editBtn" formaction="#">
					</div>
				</div>
			
				<div id="parContainer" >
				<p>登録している人を確認します。
				<br>登録している人の自己紹介記事をみてみましょう。
				</p>
				</div>
			</form>
		</div>
		
	</body>

</html>